<div class="alert alert-info" ng-show="counter>=1">
	<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Attention:</strong>You got {{counter}} non completed activities
</div>


<h4> {{message}} </h4> 

	<div style="margin-bottom:10px">
	<input type="button" class="btn btn-danger" value="Add ToDo" ng-click="createTodo()"/>


    <button class="btn btn-success" style="float:right" ng-click="filterOnlyIncomplete()" ng-hide="todoFilter">Show only non completed</button>
  	<!--<button class="btn btn-success" ng-click="changeFilter()" ng-show="todoFilter">Show ALL</button>!-->
  	</div>


<div class="list-group" ng-repeat="todo in todos">

<div class="list-group-item">
    <h4 class="list-group-item-heading"><b>TODO: {{todo.description}}</h4>
    <p class="list-group-item-text" ng-class="{'alert-info' : todo.completed, 'alert-danger' : !todo.completed}">Completed ? <br/> {{todo.completed}}</p>
    <a class="btn btn-success" style="margin-top:10px;" value="More details" href="#/todo/{{todo.id}}">More Details</a>
    <br/>
    <input type="button" class="btn-primary" style="margin-top:10px;" value="Mark as completed" ng-hide="todo.completed" ng-click="markAsCompleted(todo.id)"/>
    <br/>
    



</div>

